* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../image/backimg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    gap: 40px;
    background: rgba(17, 16, 16, 0.842);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.form-box {
    width: 250px;
}

.form-box h2 {
    text-align: center;
    color:rgba(253, 253, 253, 0.842);
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 12px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
}

input:focus {
    border-color: #667eea;
}

.gender {
    display: flex;
    color: white;
    justify-content: space-between;
    margin-bottom: 12px;
    font-size: 14px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 6px;
    background: #c5410d;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #5563c1;
}
