
h1 {
    color: #ff3300;
    font-size: 48px;
    margin-bottom: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* body background */
body {
    background-color: black;
    background-image: url("../image/backimg.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}

/* links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration:double;
    font-size: 16px;
    transition: 0.3s ease;
}

.nav-links a:hover {
    color: #f39c12;
}

/* search bar */

.searchItem {
    position: relative;
}

.searchItem a:hover {
    color: #f39c12 ;
}

#searchText {
    cursor: pointer;
    color: rgb(255, 255, 255);
}

#searchInput {
    display: none;
    padding: 6px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 150px;
}

.search-results {
  position: absolute;
  top: 50px;
  right: 0;
  width: 340px;
  max-height: 420px;
  overflow-y: auto;
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.18);
  padding: 10px;
  z-index: 999;
}

.result-card {
  display: flex;
  gap: 10px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 12px;
  background: #000000;
  cursor: pointer;
  transition: 0.25s;
}

.result-card:hover {
  background: #eee;
  transform: translateY(-2px);
}

.result-card img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 8px;
}

.card-body {
  flex: 1;
}

.tag {
  display: inline-block;
  font-size: 11px;
  background: #000;
  color: #fff;
  padding: 3px 8px;
  border-radius: 20px;
  margin-bottom: 6px;
}

.result-card p {
  font-size: 13px;
  margin: 0;
  color: #333;
}


/* button for login\signup */
.login-btn {
    padding: 6px 14px;
    border: 1px solid #f39c12;
    border-radius: 5px;
}

.login-btn:hover {
    background-color: #f39c12;
    color: black;
}

/* content of page */
.content {
    margin-top: 120px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(20, 18, 18, 0.884);
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.651);
}

.content h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.logo-img {
    width: 500px;
    margin: 20px 0;
}

.content p {
    font-size: 20px;
    max-width: 700px;
    margin: auto;
    line-height: 1.6;
    color: tomato;
}

